
.toggled form {
  display: block;
}

.answer-form {
  display: none;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.answer-box .toggle {
  display: block;
  margin: 0 10px 0 0;
}

.answer-form textarea {
  border-top: 1px solid #ccc;
  width: 460px;
  padding: 20px;
  resize: none;
}

.answer-bio {
  display: none;
}

.answer-input {
  display: block;
  height: 150px;
  vertical-align: top;
}

.answer-form input[type="submit"] {
  padding: 5px;
  margin: 10px;
  background: #2F4F4F;
  color: #fff;
  border-radius: 3px;
}

.answer-form > div {
  border-top: 1px solid #ccc;
  background: #eee;
}

.answer-header {
  background: #eee;
  padding: 10px;
}

.answer-header > h5 {
  width: 90%;
  float: left;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.answer-header > button {
  float: left;
  font-size: 14px;
  color: #aaa;
}

.answer-header > button:hover {
  text-decoration: underline;
}

.answer-header > span {
  float: left;
  display: block;
  width: 38px;
  height: 38px;
  background: #fff;
  margin-right: 10px;
  border-radius: 50%;
  background-image: url(http://www.hotel-r.net/im/hotel/au/sir-francis-drake-20.jpg);
  background-size: contain;
  background-position: center;
}
.answer-box {
}
