// Place all the styles related to the API::SessionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div, h1, h3, label, input, form, ul, li, a {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  font-family: inherit;
  text-decoration: none;
  background: transparent;
  color: inherit;
  border-radius: inherit;
}

body {
  display: block;
  margin: 0 auto;
  width: 900px;
  box-sizing: content-box;
  background-image: url("http://payload336.cargocollective.com/1/17/574234/9036849/DSC_0474-copy_2848.JPG");
  background-size: 1900px 1320px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  font-family: helvetica;
}

ul {
  list-style: none;
}


.group:after {
  content: "";
  clear: both;
  display: block;
}

.header {
  display: block;
  background: #f00;
}

.display-page {
  text-align: center;
  display: block;
  width: 600px;
  margin: 0 auto;
  font-family: helvetica;
}

.display-page > h1 {
  font-size: 48px;
  font-weight: bold;
  color: 	#800000;
  margin: 20px;
}

.display-page > h3 {
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
  margin: 20px;
}

.registration {
  background: #fff;
  color: white;
  padding: 30px 0;
  font-weight: bold;
  width: 560px;
  margin: 0 auto;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.registration-links {
  float: left;
  padding: 0 20px;
  width: 260px;
  border-right: 1px solid #ccc;
  height: 240px;
  border-radius: 5px;
}

.signup {
  margin: 0 auto;
  background: #B22222;
  width: 200px;
  margin: 20 auto;
}

.login {
  width: 200px;
  margin: 20px auto;
  background: #1E90FF;
}

.registration-links a {
  display: block;
  padding: 10px 20px;
}

.footer {
  margin: 0 auto;
  color: #aaa;
  padding: 10px 20px;
  background: #eee;
  font-size: 14px;
  border: 1px solid #ccc;
  width: 520px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer > ul {
  margin: 0 auto;
  padding-left: 20px;
}

.footer li {
  display: block;
  float: left;
  padding-right: 20px;
}

.register-form {
  display: block;
  width: 238px;
  float: right;
  border-radius: 5px;
  text-align: left;
  padding-left: 20px;
}

.register-form label {
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #000;

}

.register-form input[type="text"],
input[type="email"], input[type="password"] {
  background: #eee;
  border: 1px solid #aaa;
  color: #aaa;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-weight: normal;
  padding: 5px 10px;

}

.register-form input[type='submit'] {
  margin: 0;
  background: #4682B4;
  display: block;
  padding: 10px;
  margin: 10px 20px;
  align-self: right;
  float: right;
}
