/* line 1, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.detail-page-answer {
  width: 600px;
  border-top: 1px solid #ccc;
  padding: 20px 0 10px 0;
}

/* line 7, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.detail-page-answer > img {
  width: 60px;
  height: 60px;
  max-width: 45px;
  max-height: 45px;
  margin-right: 10px;
}

/* line 15, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.detail-page-answer > h4 {
  margin-bottom: 10px;
  width: 70%;
  font-weight: bold;
}

/* line 21, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form {
  display: none;
  border: 1px solid #ccc;
  background: #eee;
}

/* line 27, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form > div {
  background: #eee;
  border-bottom: 1px solid #ccc;
  width: 598px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

/* line 38, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form > div h5 {
  font-weight: bold;
}

/* line 42, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form > div a {
  font-size: 12px;
  color: #aaa;
}

/* line 47, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form > div a:hover {
  text-decoration: underline;
}

/* line 51, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form > div > div {
  padding: 20px 0 10px 0;
}

/* line 55, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form textarea {
  height: 100px;
  padding: 10px;
  width: 578px;
  border-bottom: 1px solid #ccc;
  resize: none;
  background: #fff;
}

/* line 64, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.detail-page-answer > input {
  background: salmon;
}

/* line 68, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.hidden-form input[type="submit"] {
  padding: 5px;
  margin: 10px;
  background: #2F4F4F;
  color: #fff;
  border-radius: 3px;
}

/* line 76, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.toggled form {
  display: block;
}

/* line 80, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.answer-box .toggle {
  display: block;
  margin: 0 10px 0 0;
}

/* line 85, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.answer-bio {
  display: none;
}

/* line 89, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.answer-input {
  height: 150px;
}

/* line 93, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.answer-box {
  padding-top: 20px;
}

/* line 97, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.form-style {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  width: 598px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #aaa;
  padding: 5px 0;
}

/* line 108, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.form-style > li {
  padding: 5px;
  text-align: center;
}

/* line 114, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.form-style button {
  background: #fff;
  border: 0;
  color: inherit;
}

/* line 120, /Users/appacademy/Desktop/Full-Stack-Proposal/app/assets/stylesheets/api/answers.scss */
.form-style > li:last-child {
  margin: 0 0 0 400px;
  padding: 0;
}
