.home-header {
  display: block;
  background: #fff;
  border-top: 2px solid #800000;
  border-bottom:1px solid #ccc;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.home-nav {
  width: 1000px;
  margin: 0 auto;
  color: #800000;
}

.home-links {
  background: #fff;
  float: left;
  width: 300px;
  padding: 5px;
  font-weight: bold;
}

.home-links > li {
  float: left;
  padding: 10px 20px;
}

.home-header li button {
  color: #800000;
  background: whitesmoke;
  font-weight: bold;
  border-radius: 50%;
}

.home-header div {
  float: left;
}

.home-main {
  z-index: 1;
  padding-top: 30px;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  z-index: 2;
}
