.home-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #fff;
  border-top: 2px solid #800000;
  border-bottom:1px solid #ccc;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
}

.home-nav {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  color: #800000;
}


.home-links {
  background: #fff;
  display: flex;
  width: 300px;
  font-weight: bold;
  align-items: center;
}

.home-links > li {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.home-links > li:hover {
  background: #eee;
}

img {
  height: auto;
  width: auto;
  max-width: 25px;
  max-height: 25px;
  margin-right: 5px;
}

.read, .answer {
  width: auto;
}

.home-header li button {
  color: #800000;
  background: whitesmoke;
  font-weight: bold;
  border-radius: 50%;
}

.home-header div {
}

.home-main {
  z-index: 1;
  padding-top: 30px;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.75;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.content-main {
  margin-left: 170px;
}

.search-list {
  display: none;
  position: absolute;
  width: 600px;
  border-radius: 3px;
  top: 60px;
  left: 30%;
  background: #fff;
}

.focused .search-list {
  display: block;
}

.search-list a {
  padding: 10px 5px;
  display: block;
  font-weight: bold;
  color: #000;
  border-bottom: 1px solid #ccc;
}
