
.question-detail {
  padding-top: 10px;
  margin-left: 220px;
  height: 100em;
}

.question-detail header {
}

.question-detail > header > h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.question-detail > header > p {
  margin: 20px 0;
}

.detail-links {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  margin: 20px 0;
}

.detail-links > li {
  display: block;
  height: 20px;
  margin-right: 10px;
}

.detail-links button {
  padding: 5px;
  background: #CFEBFE;
  color: #2378B0;
  border-radius: 2px;
  border: 1px solid #78AED2;
}

.detail-links button:hover {
  border-color: #2378B0;
}

.detail-links a {
  color: #aaa;
}

.detail-links a:hover {
  text-decoration: underline;
}



.answer-list {
  display: block;
  width: 600px;
}

.detail-answer {
  border-top: 1px solid #ccc;
}

.detail-answer h5 {
  font-weight: bold;
  padding: 10px 0;
}

.detail-answer-header {
  display: flex;
  align-items: center;
}

.detail-answer-header > span {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  background-image: url(http://www.hotel-r.net/im/hotel/au/sir-francis-drake-20.jpg);
  background-size: contain;
  background-position: center;
}
