div, h1, h3, label, input, form, ul, li, a {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-align: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  font: inherit;
  font-family: inherit;
  text-decoration: none;
  background: transparent;
  color: inherit;
}

body {
  background: whitesmoke;
}

.header {
  display: block;
  background: #f00;
}

.display-page {
  display: block;
  width: 600px;
  margin: 0 auto;
  font-family: helvetica;
}

.display-page > h1 {
  font-size: 36px;
  font-weight: bold;
  color: 	#800000;
}

.display-page > h3 {
  font-size: 18px;
  font-weight: bold;
  color: #aaa;
}
